* {
    background: white; 
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
    padding: 0;
    box-sizing: border-box;
    color: #7345d6;
    
}

.logo {
    margin-left: 20px;
    padding-top: 10px;
    width: 5%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 10%;

}

.text-area {
    color: #0A3871; 
    border: none;
    width: 45vw;
    height: 60vh;
    margin-top: auto;
    text-transform: lowercase;
    resize: none;
    font-size: 1.5rem;
    
}

::placeholder {
    color: #0A3871; 
}

.text-area:focus {
    outline: none;
    border-color: #7345d6; 
}

.saida {
    background: #e5e5e5; 
    border-radius: 18px;
    color: #0A3871;
    width: 30vw;
    height: 35vw;
    resize: none;
    background-image: url(imagens/personagem.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.5rem;
}

.saida:focus {
    outline: none;
    border-color: #e5e5e5; 
}

.botoes {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-criptografar {
    background: #7345d6; 
    border: 1px solid #7345d6; 
    border-radius: 24px;
    color: white; 
    cursor: pointer;
    height: 60px;
    width: 45%;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.btn-descriptografar {
    background: #7345d6; 
    border: 1px solid #7345d6; 
    border-radius: 24px;
    color: white; 
    cursor: pointer;
    height: 60px;
    width: 45%;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.btn-copiar {
    background: #7345d6; 
    border: 1px solid #7345d6; 
    color: white; 
    cursor: pointer;
    border-radius: 12px;
    height: 60px;
    width: 15%;
    margin-bottom: 0;
    position: absolute;
    font-size: 1.5rem;
    margin-left: 120px;
}

.alerta {
    color: #bfab93; 
    font-size: 18px;
}

.footer {
    margin: 0;
    padding: 0;
   
}

@media (max-width: 768px) {
    .text-area, .saida {
        width: 90vw;
        height: 40vh;
    }

    .btn-criptografar, .btn-descriptografar, .btn-copiar {
        width: 90vw;
        font-size: 1.2rem;
    }
}